header {
  padding: 20rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: no-repeat center cover;
  background-size: cover;
}
.logo {
  font-family: "Lobster", sans-serif;
  font-size: 9rem;
  margin-bottom: 1.5rem;
}

header h2 {
  font-size: 2rem;
  font-weight: 400;
}

.restaurant-grid {
  max-width: 154rem;
  margin: 3rem auto;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

 @media (1145px < width <= 1525px) {
  .restaurant-grid {
    max-width: 115rem;
  }
}

@media (627px < width <= 1145px) {
  .restaurant-grid {
    max-width: 75rem;
  }
}

@media (width <= 627px) {
  .restaurant-grid {
    max-width: none;
    padding: 0 3rem;
  }
}

app-toolbar {
  display: block;
  position: sticky;
  top: 0;
  background-color: var(--white);
  padding: 1rem;
}