@if (restaurant) {
  <article class="restaurant-teaser">
    @if (restaurant.imageUrl; as imageUrl) {
      <img class="restaurant-image" [src]="imageUrl" alt="Image of the restaurant">
    }
    <div class="teaser-body">
      <div class="title-and-rating">
        <h3 class="restaurant-title">{{ restaurant.restaurantName }}</h3>
        <app-rating-badge [rating]="restaurant.rating"></app-rating-badge>
      </div>
      <app-restaurant-type-badge [restaurantType]="restaurant.restaurantType"></app-restaurant-type-badge>
      <p class="remarks">{{ restaurant.review }}</p>
    </div>
  </article>  
}
