article .restaurant-image {
  background: no-repeat center cover;
  background-size: cover;
  height: 15rem;
  width: 100%;
  border-radius: 0.8rem;
}

.title-and-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

article h3 {
  font-size: 1.4rem;
}

article .remarks {
  font-size: 1rem;
  color: var(--gray-200);
  margin: 0.5rem 0;
}