.fa-solid {
  margin-right: 0.5rem;
}

.toolbar-container {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.add-restaurant-button {
  margin-left: auto;
}
.add-restaurant-button:hover {
  border: 1px solid var(--gray-100);
  background-color: var(--gray-100);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}