<section class="toolbar-container">
  <button class="btn btn-gray-outline filter-button" (click)="openFilterDialog()">
    <i class="fa-solid fa-sliders"></i>
    <span>Filters</span>
  </button>

  @if (toolbarInfo$ | async; as info) {
    <span class="result-count">
      <span class="current-count">{{ info.currentCount }}</span>
      <span class="separator">/</span>
      <span class="total-count">{{ info.totalCount }}</span>
      <span>results</span>
    </span>

    @if (info.currentCount !== info.totalCount) {
      <button type="button" class="btn reset-filters-button" (click)="resetFilters()">Reset Filters</button>
    }
  }

  <button class="btn btn-gray-outline add-restaurant-button" (click)="openAddRestaurantDialog()">
    <i class="fa-solid fa-plus"></i>
    <span>Add new restaurant</span>
  </button>
</section>
