<section class="toolbar-container">
  <button class="btn btn-gray-outline filter-button" (click)="openFilterDialog()">
    <i class="fa-solid fa-sliders"></i>
    <span>Filters</span>
  </button>
  <button class="btn btn-gray-outline rating-button"
    [class.active]="isRatingBySevenFilterActive()"
    (click)="toggleFilterBySevenRating()"
  >
    <span>Rating: 7+</span>
  </button>
  <button class="btn btn-gray-outline add-restaurant-button" (click)="openAddRestaurantDialog()">
    <i class="fa-solid fa-plus"></i>
    <span>Add new restaurant</span>
  </button>
</section>
