.fa-solid {
  margin-right: 0.5rem;
}

.toolbar-container {
  max-width: 154rem;
  margin: 0.5rem auto;
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

@media (627px < width <= 1145px) {
  .toolbar-container {
    max-width: 75rem;
  }
}

@media (1145px < width <= 1525px) {
  .toolbar-container {
    max-width: 115rem;
  }
}

@media (width <= 627px) {
  .toolbar-container {
    max-width: none;
    padding: 0 1.5rem;
  }
}

.add-restaurant-button {
  margin-left: auto;
}
.toolbar-container .btn-gray-outline:hover {
  border: 1px solid var(--gray-100);
  background-color: var(--gray-100);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.result-count {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.3rem;
  color: var(--gray-100);
}

.reset-filters-button {
  font-size: 1.3rem;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.reset-filters-button:hover {
  text-decoration: underline;
  opacity: 1;
}
