.restaurant-card {
  width: min(21rem, 80%);
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
}

@media (500px < width <= 751px) {
  .restaurant-card {
    width: unset;
    flex-basis: 47%;
  }
}

@media (width <= 500px) {
  .restaurant-card {
    width: unset;
    flex-basis: 90%;
  }
}
